<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mgr</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/fonts/font-awesome-4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/AdminLTE.min.css"/>
    <link rel="stylesheet" href="/css/skin-blue.min.css"/>

</head>
<body class="skin-blue sidebar-mini sidebar-collapse" id="app">
{{ html|safe }}
<script src="/js/vendor.js"></script>
<script src="/js/vendor.bundle.js"></script>
<script src="/js/bundle.js"></script>
</body>
</html>